---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type/?limit=10000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ea-sMRK9ahboOvZM874KpSIf4Au/mo"
      Function-Execution-Id:
      - eyvx9okwtfj1
      X-Cloud-Trace-Context:
      - 2151c070b54f7c493a662995361f8324
      X-Country-Code:
      - FR
    body:
      encoding: ASCII-8BIT
      string: '{"count":20,"next":null,"previous":null,"results":[{"name":"normal","url":"https://pokeapi.co/api/v2/type/1/"},{"name":"fighting","url":"https://pokeapi.co/api/v2/type/2/"},{"name":"flying","url":"https://pokeapi.co/api/v2/type/3/"},{"name":"poison","url":"https://pokeapi.co/api/v2/type/4/"},{"name":"ground","url":"https://pokeapi.co/api/v2/type/5/"},{"name":"rock","url":"https://pokeapi.co/api/v2/type/6/"},{"name":"bug","url":"https://pokeapi.co/api/v2/type/7/"},{"name":"ghost","url":"https://pokeapi.co/api/v2/type/8/"},{"name":"steel","url":"https://pokeapi.co/api/v2/type/9/"},{"name":"fire","url":"https://pokeapi.co/api/v2/type/10/"},{"name":"water","url":"https://pokeapi.co/api/v2/type/11/"},{"name":"grass","url":"https://pokeapi.co/api/v2/type/12/"},{"name":"electric","url":"https://pokeapi.co/api/v2/type/13/"},{"name":"psychic","url":"https://pokeapi.co/api/v2/type/14/"},{"name":"ice","url":"https://pokeapi.co/api/v2/type/15/"},{"name":"dragon","url":"https://pokeapi.co/api/v2/type/16/"},{"name":"dark","url":"https://pokeapi.co/api/v2/type/17/"},{"name":"fairy","url":"https://pokeapi.co/api/v2/type/18/"},{"name":"unknown","url":"https://pokeapi.co/api/v2/type/10001/"},{"name":"shadow","url":"https://pokeapi.co/api/v2/type/10002/"}]}'
  recorded_at: Sun, 23 Jan 2022 17:56:11 GMT
recorded_with: VCR 6.0.0
